.popup__close-button {
  position: absolute;
  display: block;
  top: -40px;
  right:-40px;
  margin: 0;
  padding: 0;
  width: 32px;
  height: 32px;
  border: 0;
  background: transparent url(../../../images/Close-Icon.svg);
  box-sizing: border-box;
  background-size: contain;
  cursor: pointer;
  transition: opacity 0.5s ease-in-out;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 620px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}
